@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-image: url('../images/bg-top.svg');
    background-position: top -35px right -195px;
    background-repeat: no-repeat;
}

@media screen and (min-width:1024px) {
    body{
        height: 93vh;
        background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
        background-position: top -15px right 0px, bottom left;
        background-repeat: no-repeat, no-repeat;
    }
}


.attribution { font-size: 11px; text-align: center; margin-top: 50px; margin-bottom: 15px;}
.attribution a { color: hsl(228, 45%, 44%); }